* {
  box-sizing: border-box;
}

span {
  color: red;
}
.wrapper {
  position: absolute;
  top: 20%;
  left: 1%;
  padding: 15px;
  width: 50%;
  background: black;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

h1,
h2 {
  font-weight: bold;
}
p1 {
  color: white;
}
#btn {
  font-weight: bold;
}
.jumbortron {
  padding-top: 2rem;
}
tr {
  color: black;
  padding: 50px;
}
#nama {
  border: 0;
  outline: 0;
  border-bottom: 2px solid rgb(0, 0, 0);
  margin-bottom: 1rem;
}
#score {
  width: 30px;
  text-align: center;
  border: 0;
  outline: 0;
}
table {
  width: 100%;
  text-align: center;
}
.tabel {
  margin-top: 3rem;
}
